.food_itm {
  background-color: rgb(255, 238, 238);
}
.span_itm {
  font-weight: 600;
  font-size: 1.5rem;
}
.food_heading {
  /* background-color: #ffeeee; */
  color: brown;
  text-transform: uppercase;
  text-underline-offset: ;
}
